openapi: 3.2.0
info:
  title: PushPress Platform Classes API
  description: The PushPress Platform API lets developers integrate with the PushPress gym and fitness business management platform.
  version: '3.0'
  contact:
    name: PushPress
    url: https://www.pushpress.com
  x-grounding:
    pathsAndMethods: confirmed
    schemas: modeled
    sources:
    - https://ppe.apidocumentation.com/
    - https://github.com/PushPress/pushpress-ts
    - https://www.npmjs.com/package/@pushpress/pushpress
servers:
- url: https://api.pushpress.com/v3
  description: Production
- url: https://api.pushpressstage.com/v3
  description: Staging
- url: https://api.pushpressdev.com/v3
  description: Development
security:
- api_key: []
tags:
- name: Classes
  description: Scheduled classes and class types.
paths:
  /classes/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getClass
      tags:
      - Classes
      summary: Get details for a class
      description: Retrieves a single scheduled class by ID.
      responses:
        '200':
          description: The requested class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Class'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /classes/types:
    get:
      operationId: listClassTypes
      tags:
      - Classes
      summary: List class types
      description: Lists the class types offered by the gym.
      responses:
        '200':
          description: A list of class types.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassType'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /classes/types/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getClassType
      tags:
      - Classes
      summary: Get a class type
      description: Retrieves a single class type by ID.
      responses:
        '200':
          description: The requested class type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Class:
      type: object
      properties:
        id:
          type: string
        typeId:
          type: string
        name:
          type: string
        coach:
          type: string
        capacity:
          type: integer
        reserved:
          type: integer
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        status:
          type: string
    ClassType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        durationMinutes:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier of the resource.
      schema:
        type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: API-KEY
      description: API key issued in the PushPress developer portal, passed in the `API-KEY` request header. Requests are also scoped to a single gym location with a `company-id` header.
