openapi: 3.2.0
info:
  title: PushPress Platform Attributions API
  description: The PushPress Platform API lets developers integrate with the PushPress gym and fitness business management platform.
  version: '3.0'
  contact:
    name: PushPress
    url: https://www.pushpress.com
  x-grounding:
    pathsAndMethods: confirmed
    schemas: modeled
    sources:
    - https://ppe.apidocumentation.com/
    - https://github.com/PushPress/pushpress-ts
    - https://www.npmjs.com/package/@pushpress/pushpress
servers:
- url: https://api.pushpress.com/v3
  description: Production
- url: https://api.pushpressstage.com/v3
  description: Staging
- url: https://api.pushpressdev.com/v3
  description: Development
security:
- api_key: []
tags:
- name: Attributions
  description: Marketing / lead-source attributions for a customer.
paths:
  /attributions/attributions:
    get:
      operationId: listAttributions
      tags:
      - Attributions
      summary: List customer attributions
      description: Lists lead-source / marketing attributions for customers.
      responses:
        '200':
          description: A list of attributions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAttribution
      tags:
      - Attributions
      summary: Create a customer attribution
      description: Creates a lead-source / marketing attribution for a customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributionInput'
      responses:
        '200':
          description: The created attribution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /attributions/attributions/{uuid}:
    parameters:
    - $ref: '#/components/parameters/Uuid'
    get:
      operationId: getAttribution
      tags:
      - Attributions
      summary: Get a customer attribution
      description: Retrieves a single customer attribution by UUID.
      responses:
        '200':
          description: The requested attribution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribution'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    AttributionInput:
      type: object
      properties:
        customer:
          type: string
          description: Customer UUID this attribution belongs to.
        source:
          type: string
          description: Lead source, e.g. referral, google, walk-in.
        medium:
          type: string
        campaign:
          type: string
    Attribution:
      allOf:
      - $ref: '#/components/schemas/AttributionInput'
      - type: object
        properties:
          uuid:
            type: string
          createdAt:
            type: integer
            format: int64
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  parameters:
    Uuid:
      name: uuid
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: API-KEY
      description: API key issued in the PushPress developer portal, passed in the `API-KEY` request header. Requests are also scoped to a single gym location with a `company-id` header.
