openapi: 3.2.0
info:
  title: PushPress Platform Appointments API
  description: The PushPress Platform API lets developers integrate with the PushPress gym and fitness business management platform.
  version: '3.0'
  contact:
    name: PushPress
    url: https://www.pushpress.com
  x-grounding:
    pathsAndMethods: confirmed
    schemas: modeled
    sources:
    - https://ppe.apidocumentation.com/
    - https://github.com/PushPress/pushpress-ts
    - https://www.npmjs.com/package/@pushpress/pushpress
servers:
- url: https://api.pushpress.com/v3
  description: Production
- url: https://api.pushpressstage.com/v3
  description: Staging
- url: https://api.pushpressdev.com/v3
  description: Development
security:
- api_key: []
tags:
- name: Appointments
  description: Scheduled one-on-one or small-group appointments.
paths:
  /appts/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getAppointment
      tags:
      - Appointments
      summary: Get details for an appointment
      description: Retrieves a single appointment by ID.
      responses:
        '200':
          description: The requested appointment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier of the resource.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    Appointment:
      type: object
      properties:
        id:
          type: string
        customer:
          type: string
        staff:
          type: string
        typeId:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - scheduled
          - rescheduled
          - canceled
          - noshowed
          - completed
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: API-KEY
      description: API key issued in the PushPress developer portal, passed in the `API-KEY` request header. Requests are also scoped to a single gym location with a `company-id` header.
