openapi: 3.2.0
info:
  title: PushPress Platform Invitations API
  description: The PushPress Platform API lets developers integrate with the PushPress gym and fitness business management platform.
  version: '3.0'
  contact:
    name: PushPress
    url: https://www.pushpress.com
  x-grounding:
    pathsAndMethods: confirmed
    schemas: modeled
    sources:
    - https://ppe.apidocumentation.com/
    - https://github.com/PushPress/pushpress-ts
    - https://www.npmjs.com/package/@pushpress/pushpress
servers:
- url: https://api.pushpress.com/v3
  description: Production
- url: https://api.pushpressstage.com/v3
  description: Staging
- url: https://api.pushpressdev.com/v3
  description: Development
security:
- api_key: []
tags:
- name: Invitations
  description: Invitations for members or staff to join the gym on PushPress.
paths:
  /invitations:
    get:
      operationId: listInvitations
      tags:
      - Invitations
      summary: List invitations
      description: Lists outstanding invitations for the company.
      responses:
        '200':
          description: A list of invitations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInvitations
      tags:
      - Invitations
      summary: Create invitations
      description: Creates one or more invitations for members or staff to join the gym.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationInput'
      responses:
        '200':
          description: The created invitation(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /invitations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvitation
      tags:
      - Invitations
      summary: Get an invitation
      description: Retrieves a single invitation by ID.
      responses:
        '200':
          description: The requested invitation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteInvitation
      tags:
      - Invitations
      summary: Delete an invitation
      description: Deletes (revokes) an invitation.
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Invitation:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
        status:
          type: string
          enum:
          - pending
          - accepted
          - expired
        createdAt:
          type: integer
          format: int64
    InvitationInput:
      type: object
      properties:
        invitations:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              role:
                type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    DeleteResponse:
      type: object
      properties:
        id:
          type: string
        deleted:
          type: boolean
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier of the resource.
      schema:
        type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: API-KEY
      description: API key issued in the PushPress developer portal, passed in the `API-KEY` request header. Requests are also scoped to a single gym location with a `company-id` header.
